<div fxLayout="column" fxLayoutAlign="center center" fxHide.lt-md>
  <h1 class="heading">Block Chain Webinar</h1>
  <br />
  <br />
  <div fxLayout fxLayoutAlign="center center" fxLayoutGap="100px">
    <section>
      <p class="posterheading"><b>Post Webinar</b></p>
      <br />
      <img class="imgposter" src="assets/Images/post.jpg" />
    </section>

    <section>
      <p class="posterheading"><b>Upcoming Webinar</b></p>
      <br />
      <img class="imgposter" src="assets/Images/upcoming.jpg" /> <br />
      <a href="">Link for the same</a>
    </section>
  </div>

  <br /><br />

  <div
    style="padding: 90px; background-color: aliceblue;"
    fxLayout
    fxLayoutGap="30px"
  >

    <div>
      <p
        style="
          color: black;
          font-size: 50px;
          text-align: center;
          line-height: 60px;
          font-family: cursive;
        "
      >
        Block Chain with BirthVenue
      </p>

      <p
        style="
          font-size: 18px;
          line-height: 30px;
          font-family: cursive;
          padding-top: 40px;
          text-align: justify;
        "
      >
        <b style="font-size: 22px;">Our Vision </b><br />
        welcomes you as a patient. We Use latest technology to offer excellent
        dental care to provide a pleasant stress free experience. Our goal is to
        help our patient achieve optimal health care and to create beautiful
        smile. We are one of the best dental clinic with a team of well
        qualified and highly experienced dentist and surgeons.<br />
        We incorporate skill, experience and technology under one roof. The work
        of our highly skilled doctors of varying disciplines of dentistry,
        coupled with the use of the latest equipment and technologies ensures
        that each patient is treated with the highest standard. <br />
        Our complete team functions with sole purpose of ensuring complete
        patient care and satisfaction, and this dedication is what always set us
        apart from our counterparts. We take special care of the infection
        control and have a strict protocol for sterilization to ensure
        impeccable service to all of our patients.
      </p>
    </div>
  </div>

  <br />
  <div style="padding: 90px;" fxLayout fxLayoutGap="30px">
    <section>
      <img
        style="width: 600px; height: 400px; border-radius: 25px;"
        src="\assets\Images\supplychain.jpg"
      />
    </section>
    <section>
      <p
        style="
          color: black;
          font-size: 35px;
          text-align: center;
          line-height: 40px;
          font-family: cursive;
        "
      >
        How Block Chian will change Supply Chain ?
      </p>

      <p
        style="
          font-size: 18px;
          line-height: 30px;
          font-family: cursive;
          padding-top: 40px;
          text-align: justify;
        "
      >
        <b style="font-size: 22px;">Supply Chain: </b><br />
        A <i>Supply chain</i> is a system of organizations, people, activities,
        information, and resources involved in supplying a product or service to
        a consumer. Supply chain activities involve the transformation of
        natural resources, raw materials, and components into a finished product
        that is delivered to the end customer. In sophisticated supply chain
        systems, used products may re-enter the supply chain at any point where
        residual value is recyclable.<br />
        A typical supply chain begins with the ecological, biological, and
        political regulation of natural resources, followed by the human
        extraction of raw material, and includes several production links (e.g.,
        component construction, assembly, and merging) before moving on to
        several layers of storage facilities of ever-decreasing size and
        increasingly remote geographical locations, and finally reaching the
        consumer. <br>
      </p>
    </section>
  </div>

  <div style="padding: 90px; background-color:beige ;" fxLayout fxLayoutGap="30px">
    <section>
      <p
        style="
          color: black;
          font-size: 35px;
          text-align: center;
          line-height: 40px;
          font-family: cursive;
        "
      >
        How Block Chian imporves Fraud Detection ?
      </p>

      <p
        style="
          font-size: 18px;
          line-height: 30px;
          font-family: cursive;
          padding-top: 40px;
          text-align: justify;
        "
      >
        <b style="font-size: 22px;">Fraud Detection </b><br />
        A <i>Supply chain</i> is a system of organizations, people, activities,
        information, and resources involved in supplying a product or service to
        a consumer. Supply chain activities involve the transformation of
        natural resources, raw materials, and components into a finished product
        that is delivered to the end customer. In sophisticated supply chain
        systems, used products may re-enter the supply chain at any point where
        residual value is recyclable.<br />
        A typical supply chain begins with the ecological, biological, and
        political regulation of natural resources, followed by the human
        extraction of raw material, and includes several production links (e.g.,
        component construction, assembly, and merging) before moving on to
        several layers of storage facilities of ever-decreasing size and
        increasingly remote geographical locations, and finally reaching the
        consumer.
      </p>
    </section>
    <section>
      <img
        style="width: 600px; height: 400px; border-radius: 25px;"
        src="\assets\Images\fraud.png"
      />
    </section>
  </div>
  <br> <br> <br>
  <div style="padding: 90px; background-color:blanchedalmond ;" fxLayout fxLayoutGap="30px">
    <section>
      <p
        style="
          color: black;
          font-size: 35px;
          text-align: center;
          line-height: 40px;
          font-family: cursive;
        "
      >
        How Block Chian imporves Jewellery Industry ?
      </p>

      <p
        style="
          font-size: 18px;
          line-height: 30px;
          font-family: cursive;
          padding-top: 40px;
          text-align: justify;
        "
      >
        <b style="font-size: 22px;">Jewellery Industry </b><br />
        A <i>Supply chain</i> is a system of organizations, people, activities,
        information, and resources involved in supplying a product or service to
        a consumer. Supply chain activities involve the transformation of
        natural resources, raw materials, and components into a finished product
        that is delivered to the end customer. In sophisticated supply chain
        systems, used products may re-enter the supply chain at any point where
        residual value is recyclable.<br />
        A typical supply chain begins with the ecological, biological, and
        political regulation of natural resources, followed by the human
        extraction of raw material, and includes several production links (e.g.,
        component construction, assembly, and merging) before moving on to
        several layers of storage facilities of ever-decreasing size and
        increasingly remote geographical locations, and finally reaching the
        consumer. <br>
      </p>
    </section>
  </div>
  <br> <br> <br>

</div>
