.heading{
  font-family: cursive;
  font-size:60px;
  font-weight: bold;
  padding-top: 50px;
  color:royalblue;
}

.imgposter{
  width: 500px;
  height: 300px;
}
.posterheading{
  font-size: 30px;
  font-family: cursive;
  text-align: center;
  color:royalblue;
}

.icon{
  width: 200px;
  height: 150px;
  border-radius: 50%;
}
