.heading{
  font-family: cursive;
  font-size:50px;
  font-weight: bold;
  padding-top: 50px;
  color:royalblue;
}

.imgposter{
  width: 600px;
  height: 400px;
}
.posterheading{
  font-size: 30px;
  font-family: cursive;
  text-align: center;
}
