.heading{
  font-family: cursive;
  font-size:60px;
  font-weight: bold;
  padding-top: 50px;
  color:royalblue;
}

.mobheading{
  font-family: cursive;
  font-size:35px;
  font-weight: bold;
  padding-top: 50px;
  color:royalblue;
}

.imgposter{
  width: 500px;
  height: 300px;
}
.mobimgposter{
  width: 300px;
  height: 200px;
}


.posterheading{
  font-size: 30px;
  font-family: cursive;
  text-align: center;
  color:royalblue;
}

.icon{
  width: 250px;
  height: 180px;

}
.mobicon {
  width: 100px;
  height: 90px;

  align-items: center;
}
