<div fxLayout="column" fxLayoutAlign="center center" fxHide.lt-md>
  <h1 class="heading">Block Chain Webinar</h1>
  <br> <br>
  <div fxLayout fxLayoutAlign="center center" fxLayoutGap="100px" >
    <section>
      <p class="posterheading"> <b>Post Webinar</b></p> <br>
      <img class="imgposter" src="assets/Images/post.jpg">
    </section>

    <section>
      <p class="posterheading"> <b>Upcoming Webinar</b></p> <br>
      <img class="imgposter" src="assets/Images/upcoming.jpg"> <br>
      <a href="">Link for the same</a>
    </section>
  </div>

  <br><br>

  <div
    style="padding: 90px; background-color: aliceblue;"
    fxLayout
    fxLayoutGap="30px"
  >
    <div>
      <img
        class="animate__animated animate__fadeInLeft"
        style="width: 600px; height: 500px; border-radius: 25px;"
        src="\assets\Images\blockchain.png"
      />
    </div>
    <div>
      <p
        style="
          color: black;
          font-size: 50px;
          text-align: center;
          line-height: 60px;
          font-family: cursive;
        "
        fxLayoutAlign="center"
      >
       Block Chain with BirthVenue
      </p>

      <p
        style="
          font-size: 18px;
          line-height: 30px;
          font-family: cursive;
          padding-top: 40px;
          text-align: justify;
        "

      >
        <b style="font-size: 22px;">Our Vision </b><br>
        welcomes you as a patient. We Use latest
        technology to offer excellent dental care to provide a pleasant stress
        free experience. Our goal is to help our patient achieve optimal health
        care and to create beautiful smile. We are one of the best dental clinic
        with a team of well qualified and highly experienced dentist and
        surgeons.<br />
        We incorporate skill, experience and technology under one roof. The work
        of our highly skilled doctors of varying disciplines of dentistry,
        coupled with the use of the latest equipment and technologies ensures
        that each patient is treated with the highest standard. <br />
        Our complete team functions with sole purpose of ensuring complete
        patient care and satisfaction, and this dedication is what always set us
        apart from our counterparts. We take special care of the infection
        control and have a strict protocol for sterilization to ensure
        impeccable service to all of our patients.<br /><br />
      </p>
    </div>
  </div>
</div>
